.cabinetPage {
	.organizerStatus {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;

		p {
			font-size: 18px;
			margin-bottom: 5px;
		}
	}

	h4 {
		margin-bottom: 12px;
		font-size: 18px;
		font-weight: 600;
	}
}

.cabinetDesc {
	color: #91969a;
	font-size: 13px;
	margin-bottom: 30px;

	a {
		font-weight: 600;
	}
}

.cabinetContent {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	.cardInfo {
		display: flex;
		flex-direction: column;
		gap: 13px;
	}

	.editableBlock {
		position: relative;

		.editButton {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 5px;
			cursor: pointer;
		}
	}
}

.cabinetLeft {
	min-width: 370px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-right: 20px;

	.cardInfo {
		max-width: 370px;
	}
}

.cabinetRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cabinetInfoItem {
	display: flex;
	font-size: 14px;
	line-height: 1.3;
}

.cabinetInfoTitle {
	font-weight: 300;
	min-width: 155px;
}

.cabinetInfoValue {
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 7px;

	a {
		color: #113770;
		font-size: 14px;
		font-weight: 600;
	}
}

.cardInfoTable {
	margin-bottom: 7px;
	padding-top: 6px;

	.titleRow {
		color: #91969A;
		margin-bottom: 14px;
		display: flex;
	}

	.firstColumn {
		width: 28%;
	}

	.secondColumn {
		max-width: 152px;
		min-width: 49%;
	}

	.thirdColumn {
		width: 23%;
	}

	.dataRow {
		line-height: 1.2;
		display: flex;
		margin-bottom: 14px;

		a {
			color: #113770;
			font-weight: 600;
			line-height: normal;
		}
	}
}

.tableLink {
	display: inline-block;
	color: #113770;
	font-size: 14px;

	font-weight: 600;
	line-height: normal;
	padding: 5px 0;
}