.cabinetPage {

}

.cabinetDesc {
  color: #91969A;
  font-size: 13px;
  margin-bottom: 30px;
  a {
    font-weight: 600;
  }
}

.cabinetContent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}