
.controlledField {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  border: none;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  outline: 1px solid #C2CAC9;
  &::placeholder {
    color: #000000;
  }
  &:focus {
    outline-color: #000000;
  }
}

.fieldWrapper {
  position: relative;
  svg {
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fieldEl {
  .isSvg {
    padding-left: 30px;
  }

  .warningMessage {
    padding: 5px 0;
    margin: 0;
    color: #F00000;
    font-size: 14px;
    line-height: 1;
  }

}
