.scheduleControl {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .downloadButtons {
        display: flex;

        button {
            padding: 5px;
        }
    }
}

.downloadButtons {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        max-height: 26px;
        padding: 0 5px 0 8px;
        font-size: 13px;
        font-weight: 400;
        color: #000;
    }
}

.eventsScheduleTable {
    grid-template-columns:
        minmax(13px, 0.35fr) minmax(460px, 9fr) minmax(140px, 4.5fr) minmax(35px, 1fr) minmax(82px, 2fr) minmax(17px, 0.6fr) minmax(35px, 1fr) minmax(82px, 2fr);

    column-gap: 5px;
    row-gap: 9px;
    padding: 12px 17px 14px 8px;    
    margin-bottom: 20px;
    border: 1px dashed #98A5A3;
    background: #F4F7FA;

    td {
        padding: 0px;
        line-height: 1.5;
    }

    td:nth-child(2) {
        text-align: left;
        padding-left: 3px;
    }

    td:nth-child(3) {
        text-align: left;
        padding-left: 5px;
    }

    td:nth-child(4),
    td:nth-child(7) {
        font-weight: bold;
    }

    &+a {
        max-width: max-content;
    }

    tbody {
        tr:not(:last-child) {
            td {
                border-bottom: none;
            }
        }
    }
}

.scheduleItem {
    display: flex;
    line-height: 1.4;

    &Index {
        width: 2%;
    }

    &Title {
        width: 50%;
    }

    &Location {
        width: 18%;
    }

    &Time {
        width: 30%;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}