.mainInputWrapper {
  position: relative;
  height: 35px;

  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: 1px solid #C2CAC9;
    background: #FFF;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 10px;
    border: none;
    &::placeholder {
      color: #000000;
    }
    &:focus {
      outline-color: #000000;
    }
    &._iconInput {
      padding-right: 30px;
    }
  }
}