.mainButton {
  display: flex;
  align-items: center;
  padding: 0 13px;
  color: #113770;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border: none;
  border-radius: 3px;
  outline: 1px solid #113770;
  height: 35px;
  svg {
    margin-right: 6px;
  }

  }
