.profileHeader {
  padding: 13px 0;
  border-bottom: 1px solid #5388A7;
  h3 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-right: 100px;
    @media (max-width: 768px) {
      margin-right: auto;
    }
  }
}

.profileHeaderContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.profileSearchInput {
  width: 378px;
  @media (max-width: 768px) {
    width: 40%;
  }
  input {
    outline-color: transparent;
    border-radius: 50px;
  }
}

