.orgStatus {
  margin-bottom: 25px;
  border-bottom: 1px dashed #98A5A3;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  p {
    margin-right: 18px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  span {
    color: #069A7F;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-left: 18px;
  }

  .confirmStatus {
    color: #069A7F;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 10px;
      background: url('data:image/svg+xml,<svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.1081 0.512027C14.07 0.40724 14.0033 0.321505 13.9271 0.245296C13.8509 0.169088 13.7557 0.102405 13.6604 0.064301C13.4603 -0.0214337 13.2222 -0.0214337 13.0221 0.064301C12.9174 0.102405 12.8316 0.169088 12.7554 0.245296L5.00119 7.99L1.42891 4.40819C1.11455 4.09383 0.562039 4.09383 0.247678 4.40819C0.0857347 4.57014 0 4.77971 0 4.99881C0 5.21791 0.0857347 5.42748 0.247678 5.58943L4.41057 9.75232C4.48678 9.82853 4.58204 9.89521 4.68683 9.93332C4.79162 9.97142 4.8964 10 5.00119 10C5.10598 10 5.22029 9.98095 5.31555 9.93332C5.42034 9.89521 5.50607 9.82853 5.58228 9.75232L13.9271 1.417C14.0033 1.3408 14.07 1.24553 14.1081 1.15027C14.1462 1.04549 14.1748 0.9407 14.1748 0.835913C14.1748 0.731126 14.1558 0.616814 14.1081 0.521553V0.512027Z" fill="%23069A7F"/></svg>') no-repeat;
    }
  }

  .confirmStatus {
    color: #069A7F;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 10px;
      background: url('data:image/svg+xml,<svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.1081 0.512027C14.07 0.40724 14.0033 0.321505 13.9271 0.245296C13.8509 0.169088 13.7557 0.102405 13.6604 0.064301C13.4603 -0.0214337 13.2222 -0.0214337 13.0221 0.064301C12.9174 0.102405 12.8316 0.169088 12.7554 0.245296L5.00119 7.99L1.42891 4.40819C1.11455 4.09383 0.562039 4.09383 0.247678 4.40819C0.0857347 4.57014 0 4.77971 0 4.99881C0 5.21791 0.0857347 5.42748 0.247678 5.58943L4.41057 9.75232C4.48678 9.82853 4.58204 9.89521 4.68683 9.93332C4.79162 9.97142 4.8964 10 5.00119 10C5.10598 10 5.22029 9.98095 5.31555 9.93332C5.42034 9.89521 5.50607 9.82853 5.58228 9.75232L13.9271 1.417C14.0033 1.3408 14.07 1.24553 14.1081 1.15027C14.1462 1.04549 14.1748 0.9407 14.1748 0.835913C14.1748 0.731126 14.1558 0.616814 14.1081 0.521553V0.512027Z" fill="%23069A7F"/></svg>') no-repeat;
    }
  }

  .notConfirmStatus {
    color: #920303;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.62628 5.00015L9.86971 0.756341C10.0429 0.583141 10.0429 0.302798 9.86971 0.129598C9.69652 -0.0431994 9.41621 -0.0431994 9.24302 0.129598L4.9996 4.37341L0.756575 0.129598C0.58339 -0.0431994 0.303073 -0.0431994 0.129888 0.129598C-0.0428934 0.302798 -0.0428934 0.583141 0.129888 0.756341L4.37331 5.00015L0.129888 9.24356C-0.0432962 9.41676 -0.0432962 9.6971 0.129888 9.8703C0.216481 9.9569 0.329655 10 0.443232 10C0.556809 10 0.669983 9.9569 0.756575 9.8703L5 5.62649L9.24342 9.8703C9.33002 9.9569 9.44319 10 9.55677 10C9.67034 10 9.78352 9.9569 9.87011 9.8703C10.0433 9.6971 10.0433 9.41676 9.87011 9.24356L5.62669 4.99975L5.62628 5.00015Z" fill="%23920303"/></svg>') no-repeat;
    }
  }
}