.contractWrapper {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px dashed #98A5A3;
    background: #F4F7FA;
}

.contractNameWrapper {
    min-width: 380px;
}

.contractName {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.noContract {
    color: #C2CAC9;
}

.contractStatus {
    color: #9A0606;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;

    &.contractStatusGreen {
        color: #069A7F;
    }
}

.cost {
    position: relative;
    margin-left: auto;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    &::after {
        position: absolute;
        right: 5px;
        content: '₽';
        font-weight: 400;
    }
}