.employeeEventsTable {
    grid-template-columns:
        minmax(35px, 0.2fr) minmax(290px, 2.3fr) minmax(155px, 0.8fr) minmax(90px, 0.4fr) minmax(90px, 0.4fr);

    th {
        font-weight: 500;
    }

    th:nth-child(2) {
        text-align: left;
        justify-content: flex-start;
    }

    td:nth-child(2) {
        text-align: left;
    }

    td:nth-child(4) {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }
}