.employeeEventsTable {
    grid-template-columns:
        minmax(25px, 0.19fr) minmax(290px, 2.6fr) minmax(155px, 0.6fr) minmax(90px, 0.5fr) minmax(90px, 0.6fr);

    th {
        font-weight: 500;
    }

    th:nth-child(4) {
        justify-content: flex-end;
    }

    th:nth-child(2) {
        text-align: left;
        justify-content: flex-start;
    }

    td:nth-child(2) {
        text-align: left;
    }

    td:nth-child(4) {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }
}