.selectContainer {
  flex-grow: 1;
}

.select {
  min-height: 37px !important;
  height: 37px !important;
  border: 1px solid #C2CAC9 !important;
  border-radius: 5px !important;
  align-self: flex-start;
  margin-top: -1px;
  box-shadow: none !important;
}

.select__control {
    min-height: 37px !important;
    height: 37px !important;
    border: 1px solid #C2CAC9 !important;
    border-radius: 5px !important;
    align-self: flex-start;
    margin-top: -1px;
    box-shadow: none !important;
}

.select__menu {
  /* Стили для меню select */
}

.select__option {
  /* Стили для опций select */
}



//.reactSelectWrapper {
//  flex-grow: 1;
//
//
//}
//
//
//
//.reactSelect__control {
//  min-height: 37px !important;
//  height: 37px !important;
//  border: 1px solid #C2CAC9 !important;
//  border-radius: 5px !important;
//  align-self: flex-start;
//  margin-top: -1px;
//  box-shadow: none !important;
//}