.visitorsTable {

  grid-template-columns:
    minmax(25px, 0.3fr)
    minmax(150px, 1.4fr)
    minmax(160px, 1.1fr)
    minmax(65px, 0.5fr)
    minmax(65px, 0.5fr)
    minmax(80px, 0.6fr)
    minmax(115px, 0.8fr)
    minmax(115px, 0.8fr);

  td, th {
    text-align: left;
    justify-content: flex-start;
  }

  td:first-child, th:first-child {
    text-align: center;
    justify-content: center;
  }

  td {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}

.visitorsSelect {
  width: 110px;
  height: 30px;

  :global {
    .react-select__input-container {
      font-size: 13px;
    }

    .react-select__indicator {
      margin-right: 8px;
    }
  }
}