.fileLink {
    display: block;
    position: relative;

    .deleteFileIcon {
        display: none;
        position: absolute;
        top: 0;
        right: -10px;
    }

    &:hover {
        .fileIcon svg path:first-child {
            fill: #113770;
        }

        .deleteFileIcon {
            display: block;
        }
    }
}