.selectWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  label {
    min-width: 145px;
    margin-right: 6px;
  }

  span {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

}