.selectWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    min-width: 145px;
    margin-right: 6px;
  }
  span {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

}

.controlledSelectContainer {
  height: 37px;
  flex-grow: 1;
  :global {
    .controlled-select {
      &__control {
        border: 1px solid #C2CAC9;
        border-radius: 5px;
        align-self: flex-start;
        box-shadow: none;
        min-height: 100%;
        cursor: pointer;
      }

      &__input-container {
        font-size: 14px;
        line-height: 1;
      }

      &__value-container {
        padding: 0 10px;
      }

      &__single-value {
        color: #000000;
        font-size: 14px;
        line-height: 1;
      }

      &__menu {
        background-color: #ffffff;
        padding: 5px 0;
        margin: 8px 0;
        border-radius: 4px;
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
      }

      &__option {
        padding: 8px 10px;

        &.controlled-select__option--is-focused {
          background-color: #537bb7;
          color: #ffffff;
          cursor: pointer;
        }

        &.controlled-select__option--is-selected {
          background-color: #113770;
          color: #ffffff;
          cursor: initial;
        }
      }

      &__indicator {
        background: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0L5 6.24998L0 0H10Z" fill="black"/></svg>') no-repeat;
        width: 10px;
        margin-right: 10px;
        height: 6.25px;
        svg {
          display: none;
        }
      }

      &__indicator-separator {
        display: none;
      }

      &__control--menu-is-open {
        .controlled-select__indicator {
          transform: rotate(180deg);
        }
      }
    }
  }
}

