.profileLayout {
  background: linear-gradient(270deg, rgba(0, 166, 156, 0.50) 4.78%, #286A91 39.47%);
}

.profileLayoutContainer {
  display: flex;
  gap: 40px;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.profileRight {
  flex-grow: 1;
  overflow-x: auto;
}

