.employeeForm {
  section {
    &:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 30px;
      border-bottom: 1px dotted #98A5A3;
    }
  }

  button[type="submit"] {
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #C2CAC9;
    line-height: 1;
    padding: 6px 8px;
  }
}

.bottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeEmployeeInput {
  margin-bottom: 0;
}