.copyButton {
    display: flex;
    position: relative;
    outline: none;

    svg {
        margin: auto;
    }

    span {
        position: absolute;
        bottom: -15px;
        right: -50%;
        font-size: 10px;
    }
}