.customTable {
  display: grid;
  min-width: 100%;
  width: auto;
  border: 1px solid #C2CAC9;
  border-radius: 5px;
  border-collapse: collapse;
  overflow-x: auto;

  thead,
  tbody,
  tr {
    display: contents;
  }


  thead {
    th:first-child {
      border-radius: 5px 0 0 0;
    }

    th:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  td, th {
    padding-right: 5px;
  }

  th {
    background: #EDF2F6;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 47px;
    padding: 0 0;
    border-bottom: 1px solid #C2CAC9;
  }

  td {
    text-align: center;
    padding: 15px 0;
    line-height: 1.2;
  }

  tbody {
    tr:not(:last-child) {
      td {
        border-bottom: 1px solid #C2CAC9;
      }
    }
  }

}