.cabinetTop {
  margin-bottom: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.cabinetTitle {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
}