.employeeEventsTable {
  grid-template-columns:
    minmax(40px, 0.2fr)
    minmax(90px, 0.6fr)
    minmax(80px, 0.7fr)
    minmax(100px, 2fr)
    minmax(160px, 1fr);



  th:nth-child(4) {
    text-align: left;
    justify-content: flex-start;
  }


  td:nth-child(4) {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
