.employeeInfo {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px dashed #98A5A3;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 18px;
}

.employeeAvatar {
  width: 90px;
  height: 90px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.employeeContent {
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  a {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.employeeStatus {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  span {
    text-transform: capitalize;
  }
}

.employeePhone {
  margin-bottom: 10px;
}