.sectionTitle {
    padding-top: 7px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E3DDDD;

    h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    p {
        font-size: 13px;
    }
}