.inputFile {
    position: relative;
    display: inline-block;
}

.inputFile span {
    position: relative;
    display: flex;
    cursor: pointer;

    border-radius: 3px;
    border: 1px solid #C2CAC9;
    width: 17px;
    height: 17px;

    &:hover {
       border: 1px solid #113770;
    }

    svg {
        margin: auto;        
    }
}

.inputFile input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}