$white: #ffffff;
$black: #000000;


@mixin montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
@mixin montserrat-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
@mixin montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin opensans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
@mixin opensans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@mixin opensans-semibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
@mixin opensans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}



