.statTable {
  width: 100%;
  margin-bottom: 30px;
}

.statTableTop {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  h4 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}

.statLink {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: block;
  border-radius: 3px;
  border: 1px solid #C2CAC9;
  padding: 8px;
}

.statInnerTableTop {
  background-color: #EDF2F6;
  border: 1px solid #C2CAC9;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  gap: 5px;
  border-radius: 5px 5px 0 0;
  li {
    max-width: 120px;
    width: 100%;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.statInnerTableBottom{
  display: flex;
  justify-content: space-between;
  padding: 17px 5px;
  border: 1px solid #C2CAC9;
  border-top: none;
  border-radius: 0 0 5px 5px;
  gap: 5px;
  li {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .currencyData {
    font-size: 14px;
  }
}

